@font-face {
    font-family: 'SuffolkPunch';
    src: url('assets/fonts/SuffolkPunch.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --cor-clara: #f1e6ce;
    --cor-escura: #12100e;
    --destaque: #d39652;
    --destaque-claro: #d9a861;
    --texto-claro: #3a2f1d;
    --marrom-nome: #5d3b23;
    --ambar-claro: #e3b07f;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: var(--cor-clara);
    color: var(--texto-claro);
}

.container {
    background: var(--cor-clara);
    color: var(--texto-claro);
    position: relative;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 10px;
    background: transparent;
    display: flex;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 32px;
    color: var(--marrom-nome);
    font-family: 'SuffolkPunch', serif;
    margin-right: auto;
}

.navbar a {
    font-size: 18px;
    color: var(--texto-claro);
    margin-right: 35px;
    transition: .5s;
}

.navbar a:hover,
.navbar a.active {
    color: var(--destaque);
}

.toggle-icon {
    font-size: 24px;
    cursor: pointer;
    background: transparent;
}

.toggle-icon.disabled {
    pointer-events: none;
}

.home {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 60px 10% 0;
}

.home-content {
    max-width: 600px;
}

.home-content h1 {
    font-size: 56px;
    font-family: 'SuffolkPunch', serif;
    color: var(--marrom-nome);
}

.home-content h3 {
    font-size: 28px;
    font-weight: 500;
}

.home-content h3 span {
    color: var(--destaque);
    font-weight: 600;
}

.home-content p {
    font-size: 16px;
    margin: 15px 0;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 2px solid var(--destaque);
    border-radius: 50%;
    font-size: 20px;
    color: var(--destaque);
    margin: 5px 15px 25px 0;
    transition: .5s;
}

.social-media a:hover {
    background: var(--destaque);
    color: #fff;
}

.btn {
    display: inline-block;
    padding: 11px 32px;
    background: var(--destaque-claro);
    border: 2px solid var(--destaque-claro);
    border-radius: 40px;
    font-size: 16px;
    color: #1b1b1b;
    font-weight: 600;
    transition: .5s;
}

.btn:hover {
    background: transparent;
    color: var(--destaque-claro);
}

.home-img img {
    position: absolute;
    bottom: 0;
    right: 30px;
    width: 45%;
    pointer-events: none;
}

/* MODO ESCURO */
#dark-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--cor-escura);
    color: var(--cor-clara);
}

#dark-container .logo,
#dark-container .navbar a {
    color: var(--cor-clara);
}

#dark-container .navbar a:hover,
#dark-container .navbar a.active {
    color: var(--destaque-claro);
}

#dark-container .home-content h1 {
    color: var(--cor-clara); }


#dark-container .home-content h3 span {
    color: var(--destaque-claro);
}

#dark-container .social-media a {
    border-color: var(--destaque-claro);
    color: var(--destaque-claro);
}

#dark-container .social-media a:hover {
    background: var(--destaque-claro);
    color: #1b1b1b;
}

#dark-container .btn {
    background: var(--destaque-claro);
    border-color: var(--destaque-claro);
    color: #1b1b1b;
}

#dark-container .btn:hover {
    background: transparent;
    color: var(--destaque-claro);
}

#container,
#dark-container {
    clip-path: circle(0% at 0 0);
    transition-delay: 1.5s;
}

.active#container,
.active#dark-container {
    z-index: 1;
    clip-path: circle(150% at 0 0);
    transition: 1.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    margin-top: 10px;
  }

  .navbar a {
    margin: 0;
    font-size: 16px;
  }

  .home {
    flex-direction: column;
    text-align: center;
    padding: 120px 5% 0;
  }

  .home-content {
    max-width: 100%;
  }

  .home-img {
    margin-top: 40px;
    width: 100%;
    text-align: center;
  }

  .home-img img {
    width: 60%;
  }

  .project-grid {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .btn {
    padding: 10px 20px;
    font-size: 14px;
  }

  .section-title {
    font-size: 22px;
    text-align: center;
  }

  .section-text, .section-email {
    font-size: 14px;
    padding: 0 10px;
    text-align: center;
  }
}
